
/* CSS for the holder */
.holder {
  display: flex;                
  flex-wrap: wrap;             
  justify-content: space-evenly;                  
}


 .item {
  border:1px solid;
  padding:15px;
	 background-color:gold
  
	
}
 